<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.toLoan.dao.EntAcctCccFbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.toLoan.model.EntAcctCccFb">
        <result column="ENT_ACCT_ID" property="entAcctId" />
        <result column="CCC" property="ccc" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="DELETE_FLAG" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ENT_ACCT_ID AS "entAcctId", CCC AS "ccc", CREATE_TIME AS "createTime",
        CREATE_USER AS "createUser", UPDATE_TIME AS "updateTime", UPDATE_USER AS "updateUser",
        DELETE_FLAG AS "deleteFlag"
    </sql>

    <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"></include>
        from ENT_ACCT_CCC_FB
        order by create_time DESC
    </select>
</mapper>
