<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.financial.dao.FinanceCashFlows07FbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.financial.model.FinanceCashFlows07Fb">
        <result column="ID" property="id" />
        <result column="ENT_NAME" property="entName" />
        <result column="ENT_CERT_TYPE" property="entCertType" />
        <result column="ENT_CERT_NUM" property="entCertNum" />
        <result column="RPT_DATE" property="rptDate" />
        <result column="SHEET_YEAR" property="sheetYear" />
        <result column="SHEET_TYPE" property="sheetType" />
        <result column="SHEET_TYPE_DIVIDE" property="sheetTypeDivide" />
        <result column="AUDIT_FIRM_NAME" property="auditFirmName" />
        <result column="AUDITOR_NAME" property="auditorName" />
        <result column="AUDIT_TIME" property="auditTime" />
        <result column="CIMOC" property="cimoc" />
        <result column="RPT_DATE_CODE" property="rptDateCode" />
        <result column="CRFSOGOROS" property="crfsogoros" />
        <result column="TAX_REFUNDS" property="taxRefunds" />
        <result column="OCRRTOA" property="ocrrtoa" />
        <result column="TCIFOA" property="tcifoa" />
        <result column="CPFGAS" property="cpfgas" />
        <result column="CPTAOBOE" property="cptaoboe" />
        <result column="PAYMENTS_OF_ALL_TYPES_OF_TAXES" property="paymentsOfAllTypesOfTaxes" />
        <result column="OCPFOA" property="ocpfoa" />
        <result column="TCOFOA" property="tcofoa" />
        <result column="NCFOA" property="ncfoa" />
        <result column="CRFROI" property="crfroi" />
        <result column="CASH_RECEIVED_FROM_ONVESTMENTS" property="cashReceivedFromOnvestments" />
        <result column="NCRFDOFAAAOLTA" property="ncrfdofaaaolta" />
        <result column="NCIODOSAOBE" property="nciodosaobe" />
        <result column="CRRTOIA" property="crrtoia" />
        <result column="TCIFIA" property="tcifia" />
        <result column="CPTAFAIAAOLTA" property="cptafaiaaolta" />
        <result column="CASH_PAYMENTS_FOR_INVESTMENTS" property="cashPaymentsForInvestments" />
        <result column="NCOOPOSAOBU" property="ncooposaobu" />
        <result column="CPRTOIA" property="cprtoia" />
        <result column="SUB_TOTAL_OF_CASH_OUTFLOWS" property="subTotalOfCashOutflows" />
        <result column="NCFFIA" property="ncffia" />
        <result column="CASH_RECEIVED_FROM_INVESTORS" property="cashReceivedFromInvestors" />
        <result column="CASH_FROM_BORROWINGS" property="cashFromBorrowings" />
        <result column="OCRRTFA" property="ocrrtfa" />
        <result column="TCIFFA" property="tciffa" />
        <result column="CASH_REPAYMENTS_FOR_DEBTS" property="cashRepaymentsForDebts" />
        <result column="CPFDODOPAE" property="cpfdodopae" />
        <result column="CPRTOFA" property="cprtofa" />
        <result column="TCOFFA" property="tcoffa" />
        <result column="NCFFFA" property="ncfffa" />
        <result column="DODRCOC" property="dodrcoc" />
        <result column="NICACE" property="nicace" />
        <result column="ICACEB" property="icaceb" />
        <result column="TFCACEB" property="tfcaceb" />
        <result column="NET_PROFIT" property="netProfit" />
        <result column="PROVISION_FOR_ASSET_IMPAIRMENT" property="provisionForAssetImpairment" />
        <result column="DEPRECIATION_OF_FIXED_ASSETS" property="depreciationOfFixedAssets" />
        <result column="AOIA" property="aoia" />
        <result column="AOLTDE" property="aoltde" />
        <result column="DECREASE_OF_DEFFERED_EXPENSES" property="decreaseOfDefferedExpenses" />
        <result column="ADDITION_OF_ACCUED_EXPENSE" property="additionOfAccuedExpense" />
        <result column="LODOFAIAAOLTA" property="lodofaiaaolta" />
        <result column="LOSOFA" property="losofa" />
        <result column="POLFCIFV" property="polfcifv" />
        <result column="FINANCE_EXPENSE" property="financeExpense" />
        <result column="LOSSES_ARSING_FROMINVESTMENT" property="lossesArsingFrominvestment" />
        <result column="DEFERRED_INCOME_TAX_ASSETS" property="deferredIncomeTaxAssets" />
        <result column="DEFERRED_INCOME_TAX_LIABILITIE" property="deferredIncomeTaxLiabilitie" />
        <result column="DECREASE_IN_INVENTORIES" property="decreaseInInventories" />
        <result column="DIOR" property="dior" />
        <result column="IIOR" property="iior" />
        <result column="OTHERS" property="others" />
        <result column="NCFFOA" property="ncffoa" />
        <result column="DEBTS_TRANSFER_TO_CAPITAL" property="debtsTransferToCapital" />
        <result column="ONE_YEAR_DUE_CONVERTIBLE_BONDS" property="oneYearDueConvertibleBonds" />
        <result column="FRTTFA" property="frttfa" />
        <result column="NON_CASH_OTHERS" property="nonCashOthers" />
        <result column="CASH_AT_THE_END_OF_PERIOD" property="cashAtTheEndOfPeriod" />
        <result column="CATBOTP" property="catbotp" />
        <result column="CEATEOTP" property="ceateotp" />
        <result column="CEATBOTP" property="ceatbotp" />
        <result column="NIICACE" property="niicace" />
        <result column="STATUS" property="status" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="DELETE_FLAG" property="deleteFlag" />
        <result column="CREATE_USER" property="createUser" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS "id", ENT_NAME AS "entName", ENT_CERT_TYPE AS "entCertType", ENT_CERT_NUM AS "entCertNum",
        RPT_DATE AS "rptDate", SHEET_YEAR AS "sheetYear", SHEET_TYPE AS "sheetType", SHEET_TYPE_DIVIDE AS "sheetTypeDivide",
        AUDIT_FIRM_NAME AS "auditFirmName", AUDITOR_NAME AS "auditorName", AUDIT_TIME AS "auditTime",
        CIMOC AS "cimoc", RPT_DATE_CODE AS "rptDateCode", CRFSOGOROS AS "crfsogoros", TAX_REFUNDS AS "taxRefunds", OCRRTOA AS "ocrrtoa",
        TCIFOA AS "tcifoa", CPFGAS AS "cpfgas", CPTAOBOE AS "cptaoboe", PAYMENTS_OF_ALL_TYPES_OF_TAXES AS "paymentsOfAllTypesOfTaxes", OCPFOA AS "ocpfoa", TCOFOA AS "tcofoa", NCFOA AS "ncfoa", CRFROI AS "crfroi",
        CASH_RECEIVED_FROM_ONVESTMENTS AS "cashReceivedFromOnvestments", NCRFDOFAAAOLTA AS "ncrfdofaaaolta", NCIODOSAOBE AS "nciodosaobe", CRRTOIA AS "crrtoia", TCIFIA AS "tcifia", CPTAFAIAAOLTA AS "cptafaiaaolta",
        CASH_PAYMENTS_FOR_INVESTMENTS AS "cashPaymentsForInvestments", NCOOPOSAOBU AS "ncooposaobu", CPRTOIA AS "cprtoia", SUB_TOTAL_OF_CASH_OUTFLOWS AS "subTotalOfCashOutflows", NCFFIA AS "ncffia", CASH_RECEIVED_FROM_INVESTORS AS "cashReceivedFromInvestors",
        CASH_FROM_BORROWINGS AS "cashFromBorrowings", OCRRTFA AS "ocrrtfa", TCIFFA AS "tciffa",
        CASH_REPAYMENTS_FOR_DEBTS AS "cashRepaymentsForDebts", CPFDODOPAE AS "cpfdodopae",
        CPRTOFA AS "cprtofa", TCOFFA AS "tcoffa", NCFFFA AS "ncfffa", DODRCOC AS "dodrcoc",
        NICACE AS "nicace", ICACEB AS "icaceb", TFCACEB AS "tfcaceb", NET_PROFIT AS "netProfit",
        PROVISION_FOR_ASSET_IMPAIRMENT AS "provisionForAssetImpairment", DEPRECIATION_OF_FIXED_ASSETS AS "depreciationOfFixedAssets", AOIA AS "aoia", AOLTDE AS "aoltde",
         DECREASE_OF_DEFFERED_EXPENSES AS "decreaseOfDefferedExpenses", ADDITION_OF_ACCUED_EXPENSE AS "additionOfAccuedExpense", LODOFAIAAOLTA AS "lodofaiaaolta", LOSOFA AS "losofa", POLFCIFV AS "polfcifv",
          FINANCE_EXPENSE AS "financeExpense", LOSSES_ARSING_FROMINVESTMENT AS "lossesArsingFrominvestment", DEFERRED_INCOME_TAX_ASSETS AS "deferredIncomeTaxAssets", DEFERRED_INCOME_TAX_LIABILITIE AS "deferredIncomeTaxLiabilitie",
          DECREASE_IN_INVENTORIES AS "decreaseInInventories", DIOR AS "dior", IIOR AS "iior", OTHERS AS "others", NCFFOA AS "ncffoa", DEBTS_TRANSFER_TO_CAPITAL AS "debtsTransferToCapital", ONE_YEAR_DUE_CONVERTIBLE_BONDS AS "oneYearDueConvertibleBonds",
           FRTTFA AS "frttfa", NON_CASH_OTHERS AS "nonCashOthers", CASH_AT_THE_END_OF_PERIOD AS "cashAtTheEndOfPeriod", CATBOTP AS "catbotp", CEATEOTP AS "ceateotp", CEATBOTP AS "ceatbotp", NIICACE AS "niicace", STATUS AS "status", CREATE_TIME AS "createTime",
           DELETE_FLAG AS "deleteFlag", CREATE_USER AS "createUser", UPDATE_USER AS "updateUser", UPDATE_TIME AS "updateTime"
    </sql>

    <select id="list" resultType="map">
        select
        <include refid="Base_Column_List"></include>
        from FINANCE_CASH_FLOWS07_FB
        order by create_time DESC
    </select>
</mapper>
